# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/tests/bin/Debug/*
/server/bin/Debug/*
server/bin/Debug/net8.0/server.dll
server/bin/Debug/net8.0/server.exe
server/bin/Debug/net8.0/server.pdb
server/obj/Debug/net8.0/apphost.exe
server/obj/Debug/net8.0/ref/server.dll
server/obj/Debug/net8.0/refint/server.dll
server/obj/Debug/net8.0/server.AssemblyInfo.cs
server/obj/Debug/net8.0/server.AssemblyInfoInputs.cache
server/obj/Debug/net8.0/server.csproj.CoreCompileInputs.cache
server/obj/Debug/net8.0/server.dll
server/obj/Debug/net8.0/server.pdb
server/obj/Debug/net8.0/server.sourcelink.json
